### Importing librairies

In [1]:
import numpy as np
import pandas as pd
import re

### Importing dataset

In [2]:
chocolate = pd.read_csv('./data/flavors_of_cacao.csv')

In [3]:
# Printing head of dataset
chocolate.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [4]:
# Printing shape
chocolate.shape

(1795, 9)

In [5]:
# Printing column names
chocolate.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [6]:
# Printing types
chocolate.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

In [7]:
# Looking for missing values
chocolate.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

#### First insights:
- Column names need to be cleaned
- 6 object and 3 numerical columns
- Only 2 missing values

### Cleaning

In [8]:
# Cleaning column names

original_col = chocolate.columns
new_cols = ['Company', 'Origin', 'REF', 'ReviewDate', 'CocoaPercent','CompanyLocation', 'Rating', 'BeanType', 'Country']
chocolate = chocolate.rename(columns = dict(zip(original_col, new_cols)))
chocolate.head()

,Company,Origin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Country
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [9]:
# Remove % sign from CocoaPercent column 

chocolate['CocoaPercent'] = chocolate['CocoaPercent'].str.replace('%','').astype(float)
chocolate.head()

,Company,Origin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Country
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

In [10]:
## Country column
chocolate['Country'].sort_values().unique()

array(['Africa, Carribean, C. Am.', 'Australia', 'Belize', 'Bolivia',
       'Brazil', 'Burma', 'Cameroon', 'Carribean',
       'Carribean(DR/Jam/Tri)', 'Central and S. America', 'Colombia',
       'Colombia, Ecuador', 'Congo', 'Cost Rica, Ven', 'Costa Rica',
       'Cuba', 'DR, Ecuador, Peru', 'Dom. Rep., Madagascar',
       'Domincan Republic', 'Dominican Rep., Bali', 'Dominican Republic',
       'Ecuador', 'Ecuador, Costa Rica', 'Ecuador, Mad., PNG',
       'El Salvador', 'Fiji', 'Gabon', 'Ghana', 'Ghana & Madagascar',
       'Ghana, Domin. Rep', 'Ghana, Panama, Ecuador',
       'Gre., PNG, Haw., Haiti, Mad', 'Grenada',
       'Guat., D.R., Peru, Mad., PNG', 'Guatemala', 'Haiti', 'Hawaii',
       'Honduras', 'India', 'Indonesia', 'Indonesia, Ghana',
       'Ivory Coast', 'Jamaica', 'Liberia', 'Mad., Java, PNG',
       'Madagascar', 'Madagascar & Ecuador', 'Malaysia', 'Martinique',
       'Mexico', 'Nicaragua', 'Nigeria', 'PNG, Vanuatu, Mad', 'Panama',
       'Papua New Guinea', 'Peru', 'Peru(SMartin,Pangoa,nacional)',
       'Peru, Belize', 'Peru, Dom. Rep', 'Peru, Ecuador',
       'Peru, Ecuador, Venezuela', 'Peru, Mad., Dom. Rep.',
       'Peru, Madagascar', 'Philippines', 'Principe', 'Puerto Rico',
       'Samoa', 'Sao Tome', 'Sao Tome & Principe', 'Solomon Islands',
       'South America', 'South America, Africa', 'Sri Lanka', 'St. Lucia',
       'Suriname', 'Tanzania', 'Tobago', 'Togo', 'Trinidad',
       'Trinidad, Ecuador', 'Trinidad, Tobago', 'Trinidad-Tobago',
       'Uganda', 'Vanuatu', 'Ven, Bolivia, D.R.',
       'Ven, Trinidad, Ecuador', 'Ven., Indonesia, Ecuad.',
       'Ven., Trinidad, Mad.', 'Ven.,Ecu.,Peru,Nic.',
       'Venez,Africa,Brasil,Peru,Mex', 'Venezuela',
       'Venezuela, Carribean', 'Venezuela, Dom. Rep.', 'Venezuela, Ghana',
       'Venezuela, Java', 'Venezuela, Trinidad', 'Venezuela/ Ghana',
       'Vietnam', 'West Africa', '\xa0', nan], dtype=object)

In [11]:
# Removing special characters
chocolate['Country'] = chocolate['Country'].str.replace('-', ', ')\
.str.replace('/ ', ', ')\
.str.replace('/', ', ')\
.str.replace('\(', ', ')\
.str.replace(' and', ', ')\
.str.replace(' &', ', ')\
.str.replace('\)', '')\
.str.replace(' &', ', ')\
.str.replace(', $', '')\
.str.replace(',  ', ', ')\
.str.replace(', ,', ', ')\
.str.replace(',\s+', ', ')\
.str.replace(',', ', ').str.strip()

In [12]:
chocolate['Country'].sort_values().unique()

array(['', 'Africa,  Carribean,  C. Am.', 'Australia', 'Belize',
       'Bolivia', 'Brazil', 'Burma', 'Cameroon', 'Carribean',
       'Carribean,  DR,  Jam,  Tri', 'Central,  S. America', 'Colombia',
       'Colombia,  Ecuador', 'Congo', 'Cost Rica,  Ven', 'Costa Rica',
       'Cuba', 'DR,  Ecuador,  Peru', 'Dom. Rep.,  Madagascar',
       'Domincan Republic', 'Dominican Rep.,  Bali', 'Dominican Republic',
       'Ecuador', 'Ecuador,  Costa Rica', 'Ecuador,  Mad.,  PNG',
       'El Salvador', 'Fiji', 'Gabon', 'Ghana', 'Ghana,  Domin. Rep',
       'Ghana,  Madagascar', 'Ghana,  Panama,  Ecuador',
       'Gre.,  PNG,  Haw.,  Haiti,  Mad', 'Grenada',
       'Guat.,  D.R.,  Peru,  Mad.,  PNG', 'Guatemala', 'Haiti', 'Hawaii',
       'Honduras', 'India', 'Indonesia', 'Indonesia,  Ghana',
       'Ivory Coast', 'Jamaica', 'Liberia', 'Mad.,  Java,  PNG',
       'Madagascar', 'Madagascar,  Ecuador', 'Malaysia', 'Martinique',
       'Mexico', 'Nicaragua', 'Nigeria', 'PNG,  Vanuatu,  Mad', 'Panama',
       'Papua New Guinea', 'Peru', 'Peru,  Belize', 'Peru,  Dom. Rep',
       'Peru,  Ecuador', 'Peru,  Ecuador,  Venezuela',
       'Peru,  Mad.,  Dom. Rep.', 'Peru,  Madagascar',
       'Peru,  SMartin, Pangoa, nacional', 'Philippines', 'Principe',
       'Puerto Rico', 'Samoa', 'Sao Tome', 'Sao Tome,  Principe',
       'Solomon Islands', 'South America', 'South America,  Africa',
       'Sri Lanka', 'St. Lucia', 'Suriname', 'Tanzania', 'Tobago', 'Togo',
       'Trinidad', 'Trinidad,  Ecuador', 'Trinidad,  Tobago', 'Uganda',
       'Vanuatu', 'Ven,  Bolivia,  D.R.', 'Ven,  Trinidad,  Ecuador',
       'Ven.,  Indonesia,  Ecuad.', 'Ven.,  Trinidad,  Mad.',
       'Ven., Ecu., Peru, Nic.', 'Venez, Africa, Brasil, Peru, Mex',
       'Venezuela', 'Venezuela,  Carribean', 'Venezuela,  Dom. Rep.',
       'Venezuela,  Ghana', 'Venezuela,  Java', 'Venezuela,  Trinidad',
       'Vietnam', 'West Africa', nan], dtype=object)

In [13]:
## Text preparation (correction) func
def txt_prep(text):
    replacements = [
        ['Dom Rep|DR|Domin Rep|Dominican Rep,|Domincan Republic', 'Dominican Republic'],
        ['Mad,', 'Madagascar,'],
        ['PNG', 'Papua New Guinea,'],
        ['Guat,', 'Guatemala,'],
        ['Ven,|Venez,', 'Venezuela,'],
        ['Ecu,|Ecuad,', 'Ecuador,'],
        ['Nic,', 'Nicaragua,'],
        ['Cost Rica', 'Costa Rica'],
        ['Mex,', 'Mexico,'],
        ['Jam,', 'Jamaica,'],
        ['Haw,', 'Hawaii,'],
        ['Gre,', 'Grenada,'],
        ['Tri,', 'Trinidad,'],
        ['C Am', 'Central America'],
        ['S America', 'South America'],
    ]
    
    for i, j in replacements:
        text = re.sub(i, j, str(text))

    return text

In [14]:
chocolate['Country'] = chocolate['Country'].str.replace('.', '').apply(txt_prep)

In [15]:
chocolate['Country'].replace('', 'Unknown', inplace=True)

In [16]:
chocolate['Country'].sort_values().unique()

array(['Africa,  Carribean,  Central America', 'Australia', 'Belize',
       'Bolivia', 'Brazil', 'Burma', 'Cameroon', 'Carribean',
       'Carribean,  Dominican Republic,  Jamaica,  Tri',
       'Central,  South America', 'Colombia', 'Colombia,  Ecuador',
       'Congo', 'Costa Rica', 'Costa Rica,  Ven', 'Cuba',
       'Dominican Republic', 'Dominican Republic  Bali',
       'Dominican Republic,  Ecuador,  Peru',
       'Dominican Republic,  Madagascar', 'Ecuador',
       'Ecuador,  Costa Rica', 'Ecuador,  Madagascar,  Papua New Guinea,',
       'El Salvador', 'Fiji', 'Gabon', 'Ghana',
       'Ghana,  Dominican Republic', 'Ghana,  Madagascar',
       'Ghana,  Panama,  Ecuador', 'Grenada',
       'Grenada,  Papua New Guinea,,  Hawaii,  Haiti,  Mad', 'Guatemala',
       'Guatemala,  Dominican Republic,  Peru,  Madagascar,  Papua New Guinea,',
       'Haiti', 'Hawaii', 'Honduras', 'India', 'Indonesia',
       'Indonesia,  Ghana', 'Ivory Coast', 'Jamaica', 'Liberia',
       'Madagascar', 'Madagascar,  Ecuador',
       'Madagascar,  Java,  Papua New Guinea,', 'Malaysia', 'Martinique',
       'Mexico', 'Nicaragua', 'Nigeria', 'Panama', 'Papua New Guinea',
       'Papua New Guinea,,  Vanuatu,  Mad', 'Peru', 'Peru,  Belize',
       'Peru,  Dominican Republic', 'Peru,  Ecuador',
       'Peru,  Ecuador,  Venezuela', 'Peru,  Madagascar',
       'Peru,  Madagascar,  Dominican Republic',
       'Peru,  SMartin, Pangoa, nacional', 'Philippines', 'Principe',
       'Puerto Rico', 'Samoa', 'Sao Tome', 'Sao Tome,  Principe',
       'Solomon Islands', 'South America', 'South America,  Africa',
       'Sri Lanka', 'St Lucia', 'Suriname', 'Tanzania', 'Tobago', 'Togo',
       'Trinidad', 'Trinidad,  Ecuador', 'Trinidad,  Tobago', 'Uganda',
       'Unknown', 'Vanuatu', 'Venezuela',
       'Venezuela,  Bolivia,  Dominican Republic',
       'Venezuela,  Carribean', 'Venezuela,  Dominican Republic',
       'Venezuela,  Ghana', 'Venezuela,  Indonesia,  Ecuad',
       'Venezuela,  Java', 'Venezuela,  Trinidad',
       'Venezuela,  Trinidad,  Ecuador', 'Venezuela,  Trinidad,  Mad',
       'Venezuela, Africa, Brasil, Peru, Mex',
       'Venezuela, Ecuador, Peru, Nic', 'Vietnam', 'West Africa', 'nan'],
      dtype=object)

In [17]:
# CompanyLocation column

chocolate['CompanyLocation'].sort_values().unique()

array(['Amsterdam', 'Argentina', 'Australia', 'Austria', 'Belgium',
       'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica',
       'Czech Republic', 'Denmark', 'Domincan Republic', 'Ecuador',
       'Eucador', 'Fiji', 'Finland', 'France', 'Germany', 'Ghana',
       'Grenada', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lithuania', 'Madagascar',
       'Martinique', 'Mexico', 'Netherlands', 'New Zealand', 'Niacragua',
       'Nicaragua', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Russia', 'Sao Tome', 'Scotland', 'Singapore',
       'South Africa', 'South Korea', 'Spain', 'St. Lucia', 'Suriname',
       'Sweden', 'Switzerland', 'U.K.', 'U.S.A.', 'Venezuela', 'Vietnam',
       'Wales'], dtype=object)

In [18]:
chocolate['CompanyLocation'] = chocolate['CompanyLocation']\
.str.replace('Amsterdam', 'Holland')\
.str.replace('Niacragua', 'Nicaragua')\
.str.replace('Domincan Republic', 'Dominican Republic')\
.str.replace('Eucador', 'Ecuador')\
.str.replace('Scotland', 'U.K.')\
.str.replace('Wales', 'U.K.')

chocolate['CompanyLocation'].sort_values().unique()

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Bolivia',
       'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica',
       'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador',
       'Fiji', 'Finland', 'France', 'Germany', 'Ghana', 'Grenada',
       'Guatemala', 'Holland', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lithuania', 'Madagascar',
       'Martinique', 'Mexico', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Russia', 'Sao Tome', 'Singapore', 'South Africa', 'South Korea',
       'Spain', 'St. Lucia', 'Suriname', 'Sweden', 'Switzerland', 'U.K.',
       'U.S.A.', 'Venezuela', 'Vietnam'], dtype=object)

In [19]:
# BeanType column

chocolate['BeanType'].sort_values().unique()

array(['Amazon', 'Amazon mix', 'Amazon, ICS', 'Beniano', 'Blend',
       'Blend-Forastero,Criollo', 'CCN51', 'Criollo', 'Criollo (Amarru)',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 67)',
       'Criollo (Ocumare 77)', 'Criollo (Ocumare)', 'Criollo (Porcelana)',
       'Criollo (Wild)', 'Criollo, +', 'Criollo, Forastero',
       'Criollo, Trinitario', 'EET', 'Forastero', 'Forastero (Amelonado)',
       'Forastero (Arriba)', 'Forastero (Arriba) ASS',
       'Forastero (Arriba) ASSS', 'Forastero (Catongo)',
       'Forastero (Nacional)', 'Forastero (Parazinho)',
       'Forastero(Arriba, CCN)', 'Forastero, Trinitario', 'Matina',
       'Nacional', 'Nacional (Arriba)', 'Trinitario',
       'Trinitario (85% Criollo)', 'Trinitario (Amelonado)',
       'Trinitario (Scavina)', 'Trinitario, Criollo',
       'Trinitario, Forastero', 'Trinitario, Nacional',
       'Trinitario, TCGA', '\xa0', nan], dtype=object)

In [20]:
chocolate['BeanType'] = chocolate['BeanType']\
.str.replace('-', ', ')\
.str.replace(',', ', ')\
.str.replace(',  \+', '')\
.str.replace('Amazon mix', 'Amazon')\
.str.replace('\xa0', 'Unknown')\
.str.split('(').str[0]\
.str.strip()

In [21]:
chocolate['BeanType'].replace(np.nan, 'Unknown', inplace=True)
chocolate['BeanType'].sort_values().unique()

array(['Amazon', 'Amazon,  ICS', 'Beniano', 'Blend',
       'Blend,  Forastero, Criollo', 'CCN51', 'Criollo',
       'Criollo,  Forastero', 'Criollo,  Trinitario', 'EET', 'Forastero',
       'Forastero,  Trinitario', 'Matina', 'Nacional', 'Trinitario',
       'Trinitario,  Criollo', 'Trinitario,  Forastero',
       'Trinitario,  Nacional', 'Trinitario,  TCGA', 'Unknown'],
      dtype=object)

In [22]:
# Origin column 

chocolate.Origin.nunique() #Too many unique values to clean up manually

1039

In [23]:
# Creating Blend column
chocolate['Blend'] = np.where(np.logical_or(
    np.logical_or(chocolate['Origin'].str.lower().str.contains(',|(blend)|;'),
                  chocolate['BeanType'].str.lower().str.contains(',|(blend)|;')),
    chocolate['BeanType'].str.lower().str.contains(','))
                              , 1
                              , 0
)

/Users/marie/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [24]:
chocolate['Blend'].value_counts()

0    1134
1     661
Name: Blend, dtype: int64

In [25]:
## Creating Domestic column
chocolate['Domestic'] = np.where(chocolate['Country'] == chocolate['CompanyLocation'], 1, 0)

In [26]:
chocolate['Domestic'].value_counts()

0    1589
1     206
Name: Domestic, dtype: int64

In [27]:
chocolate.head()

,Company,Origin,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,Country,Blend,Domestic
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,Unknown,Sao Tome,0,0
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,Unknown,Togo,0,0
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,Unknown,Togo,0,0
3,A. Morin,Akata,1680,2015,70.0,France,3.50,Unknown,Togo,0,0
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,Unknown,Peru,0,0

In [28]:
# Saving clean dataset
chocolate.to_csv('./data/cleaned_chocolate.csv')